
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans&family=Roboto&family=Sigmar+One&display=swap');


:root{
--text: #4e4e4e;

--themeyellow: #ffd602;
--themedarkblue: #110d2c;
--themeblue: #121272;
--themered: #720000;
--themeteal: #007272;


--primaryBg: #2F3061;
--primaryText: #DFDFDF;
--secondaryBg: #5F5980;
--secondaryText: #F7F7FF;
--secondaryBorder: #554d81;
}


.giga{ 
  background-color: #58566b;
}
.pearl{ 
  background-color: #110d2b;
}
.sils{ 
  background-color: #943c3b;
}
.pse{ 
  background-color: #740000;
}

.textColor{
  color: var(--themeblue)
}

.primaryBg{
  background-color: var(--primaryBg);
}

.primaryText{
  color: var(--primaryText)
}

.secondaryBg{
  background-color: var(--secondaryBg);
}

.secondaryText{
  color: var(--secondaryText)
}

.secondaryBorder{
  border-color: var(--secondaryBorder)
}

html{
min-height:100vh;
scroll-behavior: smooth;
color: var(--text);
font-weight: 400;
background-attachment: fixed;
overflow-x: hidden;
max-width: 100%;
width: 100%;
font-family: 'Merriweather Sans', sans-serif;
}

.titlefont{
  font-family: 'Roboto', sans-serif;
}

.quizfont{
font-family: 'Lato', sans-serif;
}


.wrap { overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;}


.font
{font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
