
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans&family=Roboto:wght@400;500;700&family=Sigmar+One&display=swap&family=Merriweather:wght@400;700&display=swap');


:root{
--text: #4e4e4e;

--themeyellow: #ffd602;
--themedarkblue: #110d2c;
--themeblue: #121272;
--themered: #720000;
--themeteal: #007272;


--primaryBg: #2F3061;
--primaryText: #DFDFDF;
--secondaryBg: #5F5980;
--secondaryText: #F7F7FF;
--secondaryBorder: #554d81;
}


.merrifont{
  font-family: 'Merriweather', serif;

}

.sigfont{
  font-family: 'Sigmar One', sans-serif;

}

.giga{ 
  background-color: #58566b;
}
.pearl{ 
  background-color: #110d2b;
}
.sils{ 
  background-color: #943c3b;
}
.pse{ 
  background-color: #740000;
}

.textColor{
  color: var(--themeblue)
}

.primaryBg{
  background-color: var(--primaryBg);
}

.primaryText{
  color: var(--primaryText)
}

.secondaryBg{
  background-color: var(--secondaryBg);
}

.secondaryText{
  color: var(--secondaryText)
}

.secondaryBorder{
  border-color: var(--secondaryBorder)
}

html{
min-height:100vh;
scroll-behavior: smooth;
color: var(--text);
font-weight: 400;
background-attachment: fixed;
overflow-x: hidden;
max-width: 100%;
width: 100%;
/* font-family: 'Roboto', sans-serif; */
font-family: 'Merriweather', serif;
}

.robotoFont{
  font-family: 'Roboto', sans-serif;
}

.quizfont{
font-family: 'Lato', sans-serif;
}


.wrap { overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;}


.font
{font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


.custom-shape-divider-top-1706084174 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1706084174 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 110px;
}

.custom-shape-divider-top-1706084174 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1706084301 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706084301 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 110px;
}

.custom-shape-divider-bottom-1706084301 .shape-fill {
  fill: #FFFFFF;
}





.slideshow {
  position: relative;
transition: all;

}

.slide {
  position: relative;
  display: none;
  cursor: pointer;
}


.slide:hover {

  transition: scale(1.1);


}

.slide-number {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  font-size: 1.6rem;
  background: rgba(0, 0, 0, 0.5);
color:white;
padding: 0px 5px 0px 5px;
opacity: 10%;
transition: all;
}

.slide-number:hover {
  transition: all;

opacity: 100%;
}




.slide-image {
  position: relative;
  display: flex;
  width: 100%;
  /* max-width: 100px; */
}

.slide-image img {
  width: 100%;
}

.slide-image figcaption {
  position: absolute;
  right: 0;
  bottom: 8px;
  left: 0;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;



}





.slide.is-active {
  display: block;
  
}

.controlsL {
  position: absolute;
  top: calc(50% - 50px);
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 8%;

}

.controlsL button {
  padding: 16px;
  border: none;
  font-size: 1.8rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 30%;
  cursor: pointer;
  transition: 0.3s ease;
  
}

.controlsL button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 100%;
}

.controlsR {
  position: absolute;
  top: calc(50% - 50px);
right: 0px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  /* width: 8%; */
  /* background-color: blue; */
}

.controlsR button {
  padding: 16px;
  border: none;
  font-size: 1.8rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 30%;
  cursor: pointer;
  transition: 0.3s ease;
}

.controlsR button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 100%;
}


.dots-container {
  height: 20px;
  margin-top: 16px;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 4px;
  margin: 0 4px;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
  transition: 0.6s ease;
  cursor: pointer;
}

.dot.is-active,
.dot:hover {
  background-color: #474747;
}

.fade {
  animation-name: fade;
  animation-duration: 0.4s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}







.slideshow .block:after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;

  /* background: #00ffd0; */
  animation: neon-block 1.5s linear infinite;
  
}
.slideshow .block .rainbow {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  filter: blur(15px);
  z-index: -2;
}
.slideshow .block .rainbow:after {

 content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* background: #3700ff; */
}
.slideshow .block .rainbow:after {
  /* animation: neon-block 1.5s linear infinite; */
  transition: all;
}


